<header class="desktop-header" id="header">
  <div class="m-left">
      <a routerLink="/"><img data-aos="flip-down" data-aos-duration="1200" src="assets/img/logobig.png"></a>

  </div>
  <div data-aos="flip-down" data-aos-duration="1200" class="links m-right">
      <a href="#home" >HOME</a>
      <a href="#skill" >SKILL</a>
      <a href="#work" >PORTFOLIO</a>
      <a href="#about" >ABOUT</a>
      <img  src="assets/img/headerlogo.png">
      <img  src="assets/img/headerlogo.png">

  </div>
</header>


<div class="header hide-img">
  <a routerLink="/"><img class="header-img" src="assets/img/logosmall.png"></a>
</div>

<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">

<label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
      </label>


<div id="sidebarMenu">
  <input type="radio" class="openSidebarMenu" id="openSidebarMenu">
  <ul class="sidebarMenuInner">


      <li id="home"><a href="#top" >HOME</a></li>
      <li> <a href="#skill" >SKILL</a></li>
      <li> <a href="#work" >PORTFOLIO</a></li>
      <li><a href="#about" >ABOUT</a></li>
      <div class="img--mobile">
          <li>
              <a><img  src="assets/img/headerlogo.png"></a>
          </li>
          <li>
              <a> <img  src="assets/img/headerlogo.png"></a>
          </li>
      </div>

  </ul>
</div>