<div class="footer-container">
    <div class="margin">
        <div class="footer-link">
            <a routerLink="/imprint" >Imprint</a> -
            <a routerLink="/legalnotice" >Legal Notice</a>
        </div>



        <div class="footer-img">

            <a href="https://www.linkedin.com/login/de" target="_blank"><img src="assets/img/linkedin-box-fill.png"></a>
            <a href="https://github.com/kissmycodee" target="_blank"><img src="assets/img/github-fill.png"></a>
            <a href="https://www.xing.com/profile/Orhan_Kacar019768" target="_blank"><img src="assets/img/xing-fill.png"></a>
        </div>
    </div>
</div>