<div class="container">

    <div class="margin">
        <div class="container-header">
            <img data-aos="zoom-in" data-aos-duration="1000" src="assets/img/P2.jpeg">
            <div>

                <div data-aos="fade-left" data-aos-duration="1000" class="headline-text">
                    <h2 >About me</h2>
                    <p >"I'm a front end developer  who loves pushing boundaries."</p>
                    <br>
                    <a  href="assets/pdf/_CV - 2023.pdf" target="_blank">
                        Open my <strong>CV</strong>
                     </a>
                </div>
            </div>

        </div>

        <div class="main-info-container">

            <div class="detail-info-container " data-aos="fade-right" data-aos-duration="1000">

                <div class="container-img"> <img src="assets/img/walk-line.png"></div>
                <div>
                    <h3 >My Journy</h3>
                </div>
                <div>
                    <p >Venturing into the world of web development with a thirst for knowledge and a determination to create impactful digital experiences.
                        </p>
                </div>
            </div>

            <div class="detail-info-container" data-aos="fade-right" data-aos-duration="1000">

                <div class="container-img"> <img src="assets/img/heart-line.png"></div>
                <div>
                    <h3 >My Passion</h3>
                </div>
                <div>
                    <p>Driven by a interest for coding, I find joy in exploring the intricacies of web development and unlocking its endless possibilities.</p>
                </div>
            </div>

            <div class="detail-info-container" data-aos="fade-left" data-aos-duration="1000">

                <div class="container-img"> <img src="assets/img/search-line.png"></div>
                <div>
                    <h3 >My Search</h3>
                </div>
                <div>
                    <p >Embarking on an exciting journey into the realm of web development, I eagerly embrace challenges and opportunities to grow as a developer.</p>
                </div>
            </div>

            <div class="detail-info-container" data-aos="fade-left" data-aos-duration="1000">

                <div class="container-img"> <img src="assets/img/flight-takeoff-line.png"></div>
                <div>
                    <h3 >The Journey Continues</h3>
                </div>
                <div>
                    <p >With boundless enthusiasm, I immerse myself in the art of building the web, striving to leave a positive mark on the digital landscape.</p>
                </div>
            </div>

        </div>






    </div>
</div>