$color-green:rgb(0, 255, 182);
.contact {
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    span {
        color: white;
    }
}

.contact-heading {
    width: 60%;
    padding-left: 350px;
    h4 {
        margin: 0;
        color: $color-green;
    }
    p {
        font-size: 16px;
        color: grey;
    }
    a {
        text-decoration: none;
        color: $color-green;
        border-bottom: 2px solid transparent;
        &:hover {
            border-bottom: 2px solid $color-green;
        }
    }
}

.from {
    padding-top: 0px;
    justify-content: center;
    .contact-from {
        width: 50%;
    }
}

.inputarea {
    margin-top: 20px;
    margin-bottom: 20px;
    div {
        width: 50%;
    }
    label {
        font-size: 18px;
        color: white;
    }
    input {
        width: 120%;
        height: 50px;
        margin-top: 20px;
        background-color: #1a1a1a;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        &::placeholder {
            color: gray;
            padding-left: 5px;
            font-size: 18px;
        }
        &:focus-visible {
            outline: 2px solid $color-green;
            outline-offset: 0px;
        }
    }
    textarea {
        margin-top: 20px;
        background-color: #1a1a1a;
        color: white;
        border: none;
        margin-left: 5px;
        width: 120%;
        height: 200px;
        font-size: 18px;
        border-radius: 5px;
        resize: none;
        &::placeholder {
            color: gray;
            padding-left: 5px;
            font-size: 18px;
        }
        &:focus-visible {
            outline: 2px solid $color-green;
            outline-offset: 0px;
        }
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
}

.btn-class {
    margin-top: 10px;
    width: 200px;
    height: 70px;
    background-color: black;
    color: #7AF8D9;
    border: 3px solid $color-green;
    font-weight: 500;
    transition: all 225ms ease;
    border-radius: 10px;
}

.disabled {
    cursor: not-allowed;
    color: #7af8d96c;
    border: 3px solid #7af8d96c;
}

.active {
    cursor: pointer;
    &:hover {
        transform: translateY(-10px) translateX(-10px);
        /* background-color: #7AF8D9;
                    color: white; */
        box-shadow: 9px 9px 4px 0px;
    }
}

@media (max-width:1550px) {
    .contact-heading {
        width: 100%;
    }
}

@media (max-width:1250px) {
    .contact-heading {
        padding-left: 300px;
    }
}

@media (max-width:1075px) {
    .contact {
        padding-top: 30px;
        padding-bottom: 40px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .contact-heading {
        padding-left: 100px;
        width: 100%;
    }
    p {
        margin-right: 35px;
    }
    .inputarea {
        div {
            width: 70%;
        }
    }
    .btn {
        width: 85%;
    }
}

@media (max-width:700px) {
    .contact-heading {
        padding-left: 0;
        margin-left: 50px;
    }
    .btn {
        justify-content: center;
    }
    .btn-class {
        width: 80%;
        height: 50px;
    }
    .inputarea {
        width: 100%;
        textarea {
            height: 120px;
            font-size: 16px;
        }
        label {
            margin-top: -24px;
            margin-bottom: -24px;
            font-size: 16px;
        }
        input {
            height: 40px;
            font-size: 16px;
        }
    }
}