<div class="container-skills">
    <div class="headline">
        <h2 >MY Skills</h2>
    </div>



    <div class="skill-container">
        <div class="margin-responsive" data-aos="fade-right" data-aos-duration="1000">
            <div class="skill-img"><img src="assets/img/javaScript.png"></div>
            <p>Java Script</p>
        </div>
        <div class="margin-responsive" data-aos="fade-up" data-aos-duration="1000">
            <div class="skill-img"><img src="assets/img/angular1.png"></div>
            <p>Angular</p>
        </div>
        <div class="margin-responsive" data-aos="fade-left" data-aos-duration="1000">
            <div class="skill-img"> <img src="assets/img/Group 205.png"></div>
            <p>HTML / CSS</p>
        </div>
    </div>

    <div class="skill-container">
        <div class="margin-responsive" data-aos="fade-up-right" data-aos-duration="1000">
            <div class="skill-img"><img src="assets/img/Group 226.png"></div>
            <p>SCRUM</p>
        </div>
        <div class="margin-responsive" data-aos="fade-up" data-aos-duration="1000">
            <div class="skill-img"><img src="assets/img/Git-Icon-1788C 2.png"></div>
            <p>Git</p>
        </div>
        <div class="margin-responsive" data-aos="fade-up-left" data-aos-duration="1000">
            <div class="skill-img"> <img src="assets/img/Group 20.png"></div>
            <p >Desing Thinking</p>
        </div>
    </div>

    <div class="skill-container padding-responsive">
        <div class="margin-responsive" data-aos="fade-right" data-aos-duration="1000">
            <div class="skill-img"><img src="assets/img/icons8-rest-api-80 2.png"></div>
            <p >Rest API</p>
        </div>
        <div class="margin-responsive" data-aos="fade-up" data-aos-duration="1000">
            <div class="skill-img"><img src="assets/img/icons8-test-lab-96 2.png"></div>
            <p >Test automation</p>
        </div>
        <div class="margin-responsive" data-aos="fade-left" data-aos-duration="1000">
            <div class="skill-img"> <img src="assets/img/icons8-database-52 2.png"></div>
            <p >Database</p>
        </div>
    </div>


</div>