<div class="imprint" id="imprint">
    <div class="imprint-contianer">
        <h1>Impressum</h1>
        <p>Angaben gemäß § 5 TMG</p>
        <p>Orhan Kacar <br> Seeriederstr. ,9<br> 81675 Müchen <br> Deutschland <br>
        </p>
        <p> <strong>Vertreten durch: </strong><br>orhankacar <br>
        </p>
        <p><strong>Kontakt:</strong> <br> Telefon: 01624062864<br> E-Mail: <a class="link-animation" href='mailto:orhankacar@web.de'>orhankacar@web.de</a>
        </p>

        <p>Mockups für die Projekt Bilder sind von <a class="link-animation" target="_blank" href="http://www.freepik.com"> Freepik</a></p>
        <p>Icons für die Projekt sind von <a class="link-animation" target="_blank" href="https://www.flaticon.com/de/"> Flaticon</a></p>
        <p>Logos für die Projekte sind von <a class="link-animation" target="_blank" href="https://logomakr.com/app/"> Logomakr</a></p>
        <p>Schriftarten wurden heruntergeladen von <a class="link-animation" target="_blank" href="https://google-webfonts-helper.herokuapp.com/fonts/lato?subsets=latin"> Goggle-Webfonts-helper</a></p>
        <p><strong>Haftungsausschluss: </strong><br><br><strong>Haftung für Links</strong><br><br> Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine
            Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige
            Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen
            werden wir derartige Links umgehend entfernen.</p><br> Impressum vom <a class="link-animation" target="_blank" href="https://www.impressum-generator.de">Impressum Generator</a> der <a class="link-animation" href="https://www.kanzlei-hasselbach.de/standorte/frankfurt/"
            rel="nofollow">Kanzlei Hasselbach, Frankfurt</a>
    </div>
</div>