<div class="main-container">
    <img class="bg" src="assets/img/laptop-notebook-computer-in-der-nacht.jpg">
    <div data-aos="fade-left" data-aos-duration="1200">
        <h1 >
            Hi, <br> I'm <strong>Orhan</strong> Kacar <br> Front End Develop <span >e</span>r
        </h1>
        <a href=" #contact "> <button >Contact me</button></a>
    </div>
    <div class="main-img" data-aos="fade-right" data-aos-duration="1200">
        <img src="assets/img/P1.jpeg">
    </div>

</div>

<div class="arrow-container">
    <div class="arrow ">
        <a href="#skill ">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
</div>